In [1]:
import pandas as pd

In [5]:
test=pd.read_csv("./dataset_labeled/nsl_testing_labeled.csv")
tra=pd.read_csv("./dataset_labeled/nsl_training_labeled.csv")

In [21]:
pd.set_option('display.max_columns', 8)

In [11]:
test.head(3)

,Duration,ProtocolType,Service,Flag,SourceBytes,...,TimesApparead,Group,IndexAttack,IndexByGroup,IndexBinary
0,0,tcp,private,REJ,0,...,21,dos,14,1,1
1,0,tcp,private,REJ,0,...,21,dos,14,1,1
2,2,tcp,ftp_data,SF,12983,...,21,normal,16,2,0

In [19]:
test=test.drop(['TimesApparead','IndexAttack','IndexByGroup','IndexBinary'],axis=1)

In [24]:
tra=tra.drop(['TimesApparead','IndexAttack','IndexByGroup','IndexBinary'],axis=1)

In [26]:
test.head(5)

,Duration,ProtocolType,Service,Flag,...,DstHostRerrorRate,DstHostSrvRerrorRate,TypeOfAttack,Group
0,0,tcp,private,REJ,...,1.00,1.00,neptune,dos
1,0,tcp,private,REJ,...,1.00,1.00,neptune,dos
2,2,tcp,ftp_data,SF,...,0.00,0.00,normal,normal
3,0,icmp,eco_i,SF,...,0.00,0.00,saint,probe
4,1,tcp,telnet,RSTO,...,0.83,0.71,mscan,probe

In [25]:
tra.head(5)

,Duration,ProtocolType,Service,Flag,...,DstHostRerrorRate,DstHostSrvRerrorRate,TypeOfAttack,Group
0,0,tcp,ftp_data,SF,...,0.05,0.00,normal,normal
1,0,udp,other,SF,...,0.00,0.00,normal,normal
2,0,tcp,private,S0,...,0.00,0.00,neptune,dos
3,0,tcp,http,SF,...,0.00,0.01,normal,normal
4,0,tcp,http,SF,...,0.00,0.00,normal,normal

In [30]:
tra.describe()

,Duration,SourceBytes,DestinationBytes,Land,...,DstHostSerrorRate,DstHostSrvSerrorRate,DstHostRerrorRate,DstHostSrvRerrorRate
count,125973.00000,1.259730e+05,1.259730e+05,125973.000000,...,125973.000000,125973.000000,125973.000000,125973.000000
mean,287.14465,4.556674e+04,1.977911e+04,0.000198,...,0.284452,0.278485,0.118832,0.120240
std,2604.51531,5.870331e+06,4.021269e+06,0.014086,...,0.444784,0.445669,0.306557,0.319459
min,0.00000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000
50%,0.00000,4.400000e+01,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000
75%,0.00000,2.760000e+02,5.160000e+02,0.000000,...,1.000000,1.000000,0.000000,0.000000
max,42908.00000,1.379964e+09,1.309937e+09,1.000000,...,1.000000,1.000000,1.000000,1.000000